.blog-bg {
    background-color: #f8f8f8;
}

.post-frame {
    height: 280px;
    box-shadow: 7px 7px 6px #d5d8db;
    border-radius: 7px;
    overflow: hidden;
}

.post {
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 50px 40px 20px;
}

.post-frame-inner {
    background-size: cover;
    background-position: center;
    border: none;
    height: 100%;
    width: 100%;
    transition: all 10s;
    transform: scale(1);
}

.blog-container-flex {
    display: flex;
    gap: 20px;
    padding: 80px 0 0;
    font-family: 'Nunito', sans-serif;
    align-items: center;
    font-size: 12px;
    position: relative;
}

.blog-read-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog {
    text-align: justify;
}

.blog-1 {
    background-image: url(../../img/blog/blog-1.jpg);
}
  
.blog-2 {
    background-image: url(../../img/blog/blog-3.jpg);
}

.blog-3 {
    background-image: url(../../img/blog/blog-2.jpg);
}

.bloglink {
    color: red;
    text-decoration: none;
}

.hmbttn {
    align-items: center;
}
.blog-icons {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    transition: all 1s;
    width: 17px;
    gap: 10px;
    padding: 1px;
}

.blog-icons:hover {
    width: 120px;
}

.icons .icon {
    text-decoration: none;    
}

.icons {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: 30px;
    gap: 10px;
    padding: 1px;
}
.blog-icons a {
    color: white;
    text-decoration: none;
    transition: color 1s; background-color: 5s;
}


