.container.brands-metrics {
    position: relative;
}

.brands-section {
    padding-top: 80px;
}

.brands {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;

}

.branimg {
    width: 150px;
    
}
.brantext {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 10px;
    
}

@media (min-width: 340px) {
    .brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
}
@media (min-width: 768px) {
    .brands {
        display: grid;
    }
}

.cube-brands {
    position: absolute;
    z-index: 1;
    left: 12%;
    top: -30%;
    animation: move10 7s infinite;
    animation-timing-function:linear;
}

@keyframes move10 { 
    0% { transform:translate(0px, 0px)rotate(30deg); }
    25% { transform:translate(-7px, -7px)rotate(10deg) }
    55% { transform:translate(-10px, 4px) }
    75% { transform:translate(-6px, 7px)rotate(20deg) }
    85% { transform:translate(-3px, 4px) }
    100% { transform:translate(0px, 0px)rotate(30deg) }
 }

 @media(max-width: 992px) {
    .cube-brands{ 
        width: 120px;
        height: 100px;
        top: 0;
    }
 }