.contact-container {
    float: right;
}

.contact {
    display: flex;
    justify-content:space-between;
    background-color: white;
    padding: 0px 0px 0px 15px;
    /* margin-top: 20px; */
    border-radius: 25px; 

}

.contactnumber {
    text-decoration: none;
    color: #3a3562;
    font-weight: bolder;
    margin-right: 15px;
}

.contact-button {
    background-color: #EF234E;
    padding: 16px 15px;
    border-radius: 25px;
    left: -25px;
    /* position: relative; */
    border: none;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}

.contact-button:hover {
    background-color: #1a233e;
    border: 1px solid #1a233e;
}

@media screen and (max-width: 992px) {
    #header-c-number {
        display: none;
    }
    .contact {
        padding-left: 0;
        background-color: #1a233e;
    }
}

@media screen and (max-width: 768px) {
    .contact-container {
       display: none;
    }
}