.creative {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 45px 0px 0px ;
    position: relative;

}

.creative-wrap {
    display: flex;
}

.creative-img {
    width: 300px;
    height: auto;
}



