.link-title {
    color: white;
    font-size: 21px;
}

.footer-link {
    color: #454D65;
    text-decoration: none;
}

.footer-link:hover {
    color: #69737F;
}

ul {
    list-style-type: none;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.link-title > li {
    padding-bottom: 30px; 
  
}

.socials {
    display: flex;
    gap: 1em;
}

.socials > .social-link {
    width: 1em;
    height: 1em;
    color: #69737F;
    text-decoration: none;
}

.socials > .social-link:hover {
    color: #454D65;
}