.link-title {
    color: white;
    font-size: 21px;
}

.footer-link,
.tel,
.email {
    color: #454D65;
    text-decoration: none;
    font-size: 18px;
}

.footer-link:hover,
.tel:hover,
.email:hover {
    color: #69737F;
}

ul,
.contact-us {
    list-style-type: none;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.socials {
    display: flex;
    gap: 1em;
}

.socials > .social-link {
    color: #69737F;
    text-decoration: none;
}

.socials > .social-link:hover {
    color: #454D65;
}

.copyright {
    color: #454D65;
    font-size: 18px;
    text-align: center;
}