.hero-h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.05em;
    font-family: "Source Sans Pro";
    color:#FFFFFF;

}

.latest-video-h2 {
    font-family: "Rubik";
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container,
.container-fluid
.hero {
    padding-top: 0px;
}

.hero-column {
    padding-top: 100px;
}

.hero-additional-images {
    position: relative;

}
.social-profile-img {
    position: absolute;
    top: 150px;
    right: -60px;
}
.Mary-J-img {
    position: absolute;
    top: 500px;
    left: 550px;
}
/* .latest-video-popup {
    width: 50px;
    min-width: 50px;
    height: 50px;
    color: #94ECE3;
    border-radius: 50%;
} */