.latest {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 90px;
    padding: 0px 0px 78px 0px;
    position: relative;

}

.latest .latest-video {
    position: relative;
    background-color: #0A1119;
    background-image: url(../../img/latest/latest.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    border-radius: 10px;
    box-shadow: 0px 57px 70px 0px rgba(10, 12, 14, 0.58);
    margin-top: -85px;
    margin-bottom: 54px;
    padding: 170px 0 120px 0;
}

.latest .latest-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    border-color: #764ED2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}

.latest .fa {
    font-size: 30px;
    transform: translate(15%, 120%);
}

.latest-popup:hover {
    background-color: #764ED2;
}

.latest-popup:hover .fa {
    color: white;
}

.latest-video .latest-popup-father {
    position: relative;
    display: inline-block;
}

.latest-text .latest-title {
    text-align: center;
    line-height: 2.8em;
}

.latest-paragraph {
    line-height: 1.7em;
    margin-top: 30px;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .latest .latest-video {
        padding: 200px 60px 130px 60px;
    }
}

@media (min-width: 1200px) {
    .latest .latest-video {
        padding: 200px 60px 250px 60px;
    }
}



