.latest-img {
    border-radius: 10px;
}

.latest-text {
    text-align: center;
}

.latest-title {
    text-align: center;
    line-height: 2.8em;
}

.latest-paragraph {
    text-align: center;
    line-height: 1.7em;
}

