.social-metrics {
    position: relative;  
}

.metrics {
    padding-bottom: 110px;
}

.counter-title {
    color: #030c26;
    font-family: "Nunito";
    font-size: 14px;
    font-weight: 400;
    
    text-transform: uppercase;
}

.section-title-1 {
    color: var(--main-color-dark);
    font-family: "Source Sans Pro";
    font-size: 43px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 43px;
}
.counter-nmb {
    display: grid;
    grid-template-columns: 50% 50%;
}
.nmbr {
    font-size: 50px;
    font-weight: 800;
    font-family: "Source Sans Pro", Sans-serif;
    color: #EF234E;

}
.divnb {
    margin-bottom: 20px;
}
.numb {
    display: flex;
    flex-direction: row;
}
.backtest2 {
    
    position: absolute;
     left:  0px;
     
     
}

.cube-metrics {
position: absolute;
left: 7%;
top: -8%;
z-index: 100;
animation: move9 7s infinite;
animation-timing-function:linear;
transform-origin: 0%;

}

@keyframes move9 { 
    0% { transform:translate(0px, 0px) rotate(10deg) }
    25% { transform:translate(-7px, -7px) rotate(20deg) }
    55% { transform:translate(-10px, 4px) rotate(30deg) }
    75% { transform:translate(-6px, 7px) rotate(20deg) }
    85% { transform:translate(-3px, 4px) rotate(10deg) }
    100% { transform:translate(0px, 0px)rotate(0deg) }
 }

 @media(max-width: 1030px) {
    .cube-metrics{ 
        width: 80px;
        height: 80px;
   
    }

}