


#scrollBtn {
  display: block; 
  position: fixed; 
  bottom: 30px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  border-radius: 50%; 
  outline: none; 
  background: #141d38;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  padding: 13px 15px;
}

#scrollBtn:hover {
   background-color:rgb(67, 30, 93) ;
}

.scroll-pointer {
    height: 17px;
}

.scroll-pointer:hover {
    height: 17px;
    color: var(-main-color-light);
}
