.testimonials-img {
    width: 100%;
}

.quotesimg {
    width: 65px;
}
.testimonials {
    position: relative;
}

.testimonials img {
    max-width: 100%;
}

.testimonials-title-1 {
    color: var(--main-color-dark);
    font-family: "Source Sans Pro";
    padding: 20px 0px ;
    font-size: 43px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 43px;
}

.testimonials-title {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    color: #3b3663;
    line-height: 18px;
    font-weight: 700;
    text-transform: capitalize;   
}

.testimonials-sub-name {
    color: var(--light-grey-color-in-white);
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    font-weight: 200;
    line-height: 16px;
    text-align: left;
};


.testimonial-image-wrapper {
    position: relative;
}

.testimonials-moving-img {
    width: 146px;
    height: 146px;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    transform-origin:  100% center;
    position: absolute;
    left: 670px; 
    animation: move 6s infinite;
    animation-timing-function:linear;
}
.testimonials-moving-img-2 {
    width: 80px;
    height: 80px;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    transform-origin:  100% center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    animation: move2 4s infinite;
    animation-timing-function:linear;
}
.testimonials-moving-img-3 {
    width: 110px;
    height: 110px;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    transform-origin:  100% center;
    position: absolute;
    animation: move3 5s infinite;
    animation-timing-function:linear;
}
.testimonials-moving-img-4 {
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    transform-origin:  100% center;
    position: absolute;
    animation: move4 4s infinite;
    animation-timing-function:linear;
}
.testimonials-moving-img-5 {
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    transform-origin:  100% center;
    position: absolute;
    animation: move5 3s infinite;
    animation-timing-function:linear;
}
.testimonials-moving-img-6 {
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    transform-origin:  100% center;
    position: absolute;
    animation: move6 3s infinite;
    animation-timing-function:linear;
}


@keyframes move { 
    0% { transform:translate(10px, -10px); }
    25% { transform:translate(7px, -7px); }
    55% { transform:translate(3px, 3px); }
    75% { transform:translate(7px, 5px); }
    85% { transform:translate(9px, 2px); }
    100% { transform:translate(10px, -10px); }
 }
 @keyframes move2 { 
    0% { transform:translate(7px, -7px); }
    25% { transform:translate(8px, 5px); }
    55% { transform:translate(5px, 2px); }
    75% { transform:translate(7px, -4px); }
    85% { transform:translate(9px, 2px); }
    100% { transform:translate(7px, -7px); }
 }
 @keyframes move3 { 
    0% { transform:translate(8px, -8px); }
    25% { transform:translate(11px, -4px); }
    55% { transform:translate(7px, 0px); }
    75% { transform:translate(3px, 4px); }
    85% { transform:translate(5px, 6px); }
    100% { transform:translate(6px, -6px); }
 }
 @keyframes move4 { 
    0% { transform:translate(10px, -10px); }
    25% { transform:translate(7px, -7px); }
    55% { transform:translate(3px, 3px); }
    75% { transform:translate(7px, 5px); }
    85% { transform:translate(9px, 2px); }
    100% { transform:translate(10px, -10px); }
 }
 @keyframes move5 { 
    0% { transform:translate(10px, -10px); }
    25% { transform:translate(7px, -7px); }
    55% { transform:translate(3px, 3px); }
    75% { transform:translate(7px, 5px); }
    85% { transform:translate(9px, 2px); }
    100% { transform:translate(10px, -10px); }
 }
 @keyframes move6 { 
    0% { transform:translate(10px, -10px); }
    25% { transform:translate(7px, -7px); }
    55% { transform:translate(3px, 3px); }
    75% { transform:translate(7px, 5px); }
    85% { transform:translate(9px, 2px); }
    100% { transform:translate(10px, -10px); }
 }
