/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* vendors */

/* components */
@import '../components/brands.css';
@import '../components/metrics.css';
@import '../components/hero.css';
@import '../pages/metrics.css';
@import '../components/latest.css';
@import '../components/contact.css';
@import '../components/latest.css';
/* CUSTOM CSS */

/*  HEADER: start */
.logo {
    width: 150px;
}

.link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #ffff;
    margin-left: 20px;
    
}
.link:hover {
    color: #cf2e2e;
}

body {
    background-image: url('../../img/header/home12_bg.jpg');
    background-repeat: no-repeat;
}

.header {
    margin-left: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 50px;
}

.menu {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
/*  HERO: start */
/*  CHOOSE US: start */
.choose {
    margin-top: 100px;
    margin-bottom: 100px;
}
.choose >.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
}
.choose-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    background-color: #ffff;
    border-radius: 5px;
}


/*  METRICS: start */
/*  VIDEO: start */
.latest-bg{
    background-image: url('../../img/latest-video/home12_video_bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}
/*  SOCIALS: start */
/*  TESTIMONIALS: start */

.testimonials-img {
    width: 100%;
}

/*  TESTIMONIALS: end */

/*  SHOP BOOKS: start */
/*  BLOG: start */
/*  CREATIVE: start */
/*  FOOTER: start */
